/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: Belanosima;
  src: url(Belanosima-Regular.ttf);
}

@font-face {
  font-family: Digital;
  src: url(digital.ttf);
}

@font-face {
  font-family: Chunk;
  src: url(Chunk.ttf);
}


/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* background-image: linear-gradient(rgba(82, 82, 17, 0.504), rgb(255, 0, 0)); */
  color:white;
  margin:0 !important;
  text-align: center;
  font-family: Belanosima, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

svg text {
  fill: #4e4e4e;
  font-family: Belanosima;
  text-anchor: center;
}

.tick{
  font-size: 1.7vh;
  font-weight: normal;
}

.scroll-text{
  color:#4e4e4e;
  font-size:2.5vh;
  text-align: left;
}

.scroll-text-block{
  position: absolute;
  background-color: rgb(255, 255, 255, 0.2);
  border: solid;
  width:33%;
  padding:20px;
}

.fixed-image{
  position: fixed;
  width:30vw;
  /* padding:20px; */
  top: 50%;
  right: 10%;
  transform: translate(0%, -50%);
  transition: src 2s;
  stroke:none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* The box shadow with a slight cloudiness effect */
  border-radius: 8px;

}

.tempmeter{
  position: fixed;
  width:250px;
  padding:20px;
  top: 50%;
  right: 10%;
  transform: translate(0%, -50%);
  margin-top:-210px;
  margin-right:-110px;
}

.temp-text{
  color:black;
  font-size:42px;
  font-family: Digital;
  position: fixed;
  top: 50%;
  right: 10%;
  transform: translate(0%, -50%);
  margin-top:-210px;
  margin-right:8px;
  z-index: 10000;
}

.grafiek{
  background-color: rgba(255, 255, 255, 1);
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
}

.aftiteling{
  background-color: rgba(0, 0, 0, 1)
}

.graphtext{
  float:left;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  width: 40%;
  height:1.5%;
  bottom: 0;
  margin-top: 10px;
  text-align: left;   
  padding-left:3vw;
}

.night{
  background-color: rgba(81, 71, 71, 0.5);
}

.nighttext{
  color:white !important;
}

.krant{
  font-family: Chunk;
  font-size: 5vh
}

.outro{
  /* background-color: rgba(81, 71, 71, 0.5); */
  background-color: black;
  border: none;
  width:60%;
  padding:20px;
  margin:0 auto;
  left:20%;
}

.outro-text{
  color:rgb(188, 188, 188) !important;
  text-align: center;
}

.logo{
  position:absolute;
  right:1%;
  top:2%
}

